*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;


}
a {
    text-decoration: none;

}
img {
    height: 100px;
    width: 100px;
}
.parent{
    display: flex;
    justify-content: space-between;
}